%h2 Chat history

= render :partial => "chats/form"
%table#chat_messages
  = render :partial => "chats/table", :locals => {:chats => @chats}

%h2 Players
%table#players
  %tr
    %th Name
    %th Status
  - @players.each do |p|
    %tr
      %td= p.name
      %td= p.online ? "Online" : "Offline"
