%h2 Chat history

= render :partial => "chats/form"
%table#chat_messages
  = render :partial => "chats/table", :locals => {:chats => @chats}

%h2 Players
%table#players
  = render "players/table"
      
      
:coffeescript
  setInterval ->
    $.ajax "/",
      dataType: "script"
  , 5000
  
