%h2 Chat history

= render :partial => "chats/form"
%table#chat_messages
  = render :partial => "chats/table", :locals => {:chats => @chats}

%h2 Players
%table#players
  = render "players/table"
      
:javascript
  new PeriodicalExecuter(function(pe){
  new Ajax.Request("/",{
    
  });
  }, 5)
